@import '../../../base';

.filterBar{
    padding: 1.5em;
    text-align: center;
    background-color: $firstColor;
    color: $fifthColor;

    label{
        padding: 1em;
        
        input{
            height: 2em;
            border-radius: 1em;
            border: 0;
            text-indent: 0.5em;
        }

        select{
            margin: 0 0 0 0.5em;
            height: 2em;
            border-radius: 0.5em 0.5em 0 0;
            padding: 0 1em;
            border: 0;
        }
    }
}