@import '../../../base';

.place{
    flex-basis: 25%;
    margin: 0.8em;
    box-shadow: 0 0 0.3em 0.1em rgb(63, 62, 62);
    
    figure{
        width: 100%;
        height: 250px;

        img{
            width: 100%;
            height: 100%;
        }
    }
    div{
        p{
            padding: 1em;
            text-align: center;
            background-color: $firstColor;
            color: #ecf0f1;
        }
        a{
            text-align: center;
            padding: 0.5em;
            text-align: center;
            display: block;
            width: 100%;
            color: $fourthColor;
            background-color: $secondColor;
        }
        a:hover{
            color: $thirdColor;
        }
    }
}
